<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>email</mat-label>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        email
        required
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>password</mat-label>
      <input
        matInput
        name="password"
        type="password"
        required
        ngModel
        placeholder="password"
        #passwordInput="ngModel"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>
    <div align="end">
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
    </div>
  </form>
</mat-card>
